* {
  text-align: center;
}

body {
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  filter: blur(3px);
  z-index: -1;
}

main {
  display: grid;
  place-items: center;
  max-width: 700px;
}

div {
  box-shadow: 0 2px 4px var(--shadow-color);
  border-radius: 8px;
  padding: 40px;
  background-color: var(--card-background);
}

div * {
  margin: 20px;
}

div a.button {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  padding: 8px 18px;
  background: var(--divider-color);
  border-radius: var(--btn-radius);
}

h1 {
  font-family: var(--font-title);
  color: var(--primary-text);
  font-weight: 100;
}

p {
  margin-bottom: 30px;
}

p.helper-note {
  font-size: .85rem;
  color: var(--secondary-text);
  margin-top: -10px;
}